<div id="<%= @id %>">
    <div><%= Enum.count(@connected_users) %> connected device<%= if Enum.count(@connected_users) > 1 do %>s<% end %></div>
    <%= for other <- @connected_users do %>
    <%# this List.last thing should be done another way... %>
    <span><%= other.device %><%= if other.uuid == @user.uuid do %> (it's you)<% else %> (<%= fuzzy_time(other.online_since) %>)<% end %><%= if other != List.last(@connected_users) do %> · <% end %></span>
    <% end %>
</div>
