/* This file is for your main application css. */
/* @import "./phoenix.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/nprogress/nprogress.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  
}

.button {
  @apply p-2 rounded bg-purple-300 hover:bg-pink-300 text-white text-center;
}

.nav-button {
  @apply p-1 rounded bg-yellow-400 hover:bg-yellow-300 text-white text-center text-sm pl-2 pr-2;
}

/* Hide Phoenix LiveView iFrame */
iframe {
  display:none
}

#pocket-extension-root {
  display:none
}

#pocket-extension-styles {
  display:none
}